@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.searchbox {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 550px;
    border: 5px;

}

input {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 18px;
}

input:focus {
    outline: none;
}

input:placeholder-shown {
    color: lightblue;
    font-size: 16px;
}

.categorysearch {
    display: flex;
    align-items: center;
    gap: 30px;
}

span {
    font-size: 14px;
}

.type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: relative;
}

.box.active {
    border: 1px solid black;
    font-size: 12px;
    position: absolute;
    background-color: white;
    
    left: 0;
    top: 50px;
  
   
    display: flex;
   
    flex-direction: column;
  
}
.box-card{
    width: 100%;
    padding: 2px 5px;
    
}
.box :hover {
    background-color: royalblue;
    color: white;
   
}

button {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    height: 50px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    font-weight: 100;
}

button:hover {
    box-shadow: 0 0 10px 5px lightblue;
}

button i {
    font-size: 16px;
}