@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;


}

.card {
    background-color: white;
    padding: 30px 20px;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

h3 {
    text-align: center;
}

.card-response {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-text {
    background-color: royalblue;
    display: flex;
    padding: 20px;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.card-text p {
    font-size: 12px;
}

.card-text:hover {
    box-shadow: 0 0 10px 5px royalblue;
    transform: scale(1.1);

}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.info {
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid #aeadb0;
    flex: 1;
    cursor: pointer;
    height: 100px; /* set desired height */
    width: 100px; /* set desired width */
}


.info:hover {
    background-color: #e3e1e6;

}

.info p {
    font-size: 14px;

}

.info a {
    font-size: 12px;
}